<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../market">CamelQ</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li id='nav_market'><a href="../market">Market</a></li>
                <li id='nav_bot'><a href="../bot">Trade BOT</a></li>
                <li id='nav_ai'><a href="../ai">AI Mind</a></li>
                <li id='nav_connect'><a href="../connect">CONNECT ME</a></li>
            </ul>
        </div>
        </div>
    </nav>
