<html>
    <head>
    {% include "_head.html" %}
    </head>
    <body onload="load('nav_connect')">
        
        <div class="container">
            {% include "_navibar.html" %}
            <div class="col-md-8 col-sm-8">
                <h1>Connect Me</h1>
                <table class="table table-striped table-hover">
                <tr>
                    <td class="col-md-4">Email :</td>
                    <td class="col-md-8">s0913041@gmail.com</td>
                </tr>
                <tr>
                    <td class="col-md-4">CrowdWrorks ID:<br/>(クラウドワークス)</td>
                    <td class="col-md-8">CamelQ</td>
                </tr>
                <tr>
                    <td class="col-md-4">Lancers ID:<br/>(ランサーズ)</td>
                    <td class="col-md-8">CamelQ</td>
                </tr>
                </table>
            </div>
            <br/>
            <div class="col-md-8">
                <h2>お願いです。</h2>
                <P>各クラウドソーシングのお客様は、クラウドソーシングから発注するようにお願い致します。</p>
            </div>
        </div>
    </body>

</html>